<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.httptest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mainimg"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".SecondActivity" />
        <activity android:name=".Listplz" />
        <activity android:name=".MainActivity" />
        <activity android:name=".FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity
            android:name=".HTTpURL"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBa25at1_ZeCjfkl_FKKws2ExHfyCog2g0" />
    </application>

</manifest>